<link rel="stylesheet" href="/stylesheets/postHB.css">
<div class="center-item">
    <div class="post-container">
        <div class="post-id">
            <p>{{id}}</p>
        </div>
        <div class="post-content">
            <a href="/post/{{id}}">{{title}}</a>
            <p>{{post_text}}</p>
            <p>{{user.username}} - {{created_at}}</p> 
        </div>
    </div>    
</div>
